[Unit]
Description=__APP__ HTTP service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/venv/bin/copanier serve
Environment="COPANIER_PORT=__PORT__" "COPANIER_LOG_ROOT=__FINALPATH__" "COPANIER_LOCALE=__LANGUAGE__.UTF-8"

[Install]
WantedBy=multi-user.target
